.container {
  display: flex;
  position: relative;
}

.nav {
  width: 200px; /* Ancho inicial de .nav */
  background-color: #333;
  color: white;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Agregamos transiciones para el desplazamiento y la opacidad */
  transform: translateX(0); /* Inicialmente visible */
  opacity: 1; /* Inicialmente visible */
}

.open_close {
  padding: 10px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  z-index: 2;
  position: relative;
}